#heading{
  height: 200px;
  width: 100%;
  background-color: white;

}

#welcome{
  margin: auto;
  top: 20px;
  text-align: center;
  padding-top: 20px;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  letter-spacing: 8px;
  font-size: 35px;
  font-weight: 800;
}

#Care{
  margin: auto;
  top: 10px;
  text-align: center;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  letter-spacing: 8px;
  font-size: 25px;
  font-weight: 800;
}




#image-container{
  height: 180px;
  width: 100%;
  position: relative;
}


#medical-name{
  position: relative;
  top: 20px;
  text-align: center;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  z-index: 2;
  letter-spacing: 8px;
  font-size: 35px;
  font-weight: 800;
  color: #001f4d;
  text-align: center;
  z-index: 4;
}

#since{
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
  z-index: 1;
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: 800;
  color: #001433;
}
