

<h3 class="titleheading">Add Investigation Request</h3>

<div class="page-wrapper  p-b-50">
    <div class="wrapper wrapper--w700">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">give information</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="investigationPostForm"
                    (ngSubmit)="investigationPostFormSubmit(investigationPostForm.value)">

                    <div class="form-row">
                        <div class="name">Patient Name</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">
                                <input [ngClass]="{'borderRed' : investigationPostForm.get('patientName').errors &&
                                (investigationPostForm.get('patientName').touched || investigationPostForm.get('patientName').dirty)}"
                                 formControlName="patientName" class="input--style-5" type="text" name="company">
                            </div>
                            <span 
                                *ngIf="investigationPostForm.get('patientName').errors && (investigationPostForm.get('patientName').touched || investigationPostForm.get('patientName').dirty)">
                                <span *ngIf="investigationPostForm.get('patientName').errors.required"> Patient name is required</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Mobile</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">
                                <input
                                [ngClass]="{'borderRed' : investigationPostForm.get('mobile').errors &&
                                (investigationPostForm.get('mobile').touched || investigationPostForm.get('mobile').dirty)}"
                                 formControlName="mobile" class="input--style-5" type="text" name="company">
                            </div>
                            <span 
                                *ngIf="investigationPostForm.get('mobile').errors &&
                                 (investigationPostForm.get('mobile').touched || investigationPostForm.get('mobile').dirty)">
                                <span *ngIf="investigationPostForm.get('mobile').errors.required">Mobile is required</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Gmail</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">
                                <input formControlName="gmail" class="input--style-5" type="text" name="company">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Age</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">
                                <input formControlName="age" class="input--style-5" type="text" name="company">
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="name">Sex</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">
                                <select formControlName="gender" name="subject"
                                    class="input-border-under-class input--style-5"
                                    style="height: 35px; width: 100%; border: 0px;">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                    </div>




                    <div class="form-row">
                        <div class="name">ReferenceId</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">
                                <input formControlName="referenceId" class="input--style-5" type="text" name="company">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Investigation Name</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">
                                <select (change)="format()" formControlName="investigationName" name="subject"
                                    class="input-border-under-class input--style-5 selectSample"
                                    [ngClass]="{'borderRed' : investigationPostForm.get('investigationName').errors &&
                                (investigationPostForm.get('investigationName').touched || investigationPostForm.get('investigationName').dirty)}">
                                    <option  *ngFor="let data of investigationNameArray" [value]='data'>{{data}}</option>
                                </select>
                            </div>
                            <span
                                *ngIf="investigationPostForm.get('investigationName').errors && 
                                (investigationPostForm.get('investigationName').touched || investigationPostForm.get('investigationName').dirty)">
                                <span *ngIf="investigationPostForm.get('investigationName').errors.required">Investigation name is required</span>
                            </span>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="name">Bill Status</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">
                                <select formControlName="billStatus" name="subject"
                                    class="input-border-under-class input--style-5"
                                    style="height: 35px; width: 100%; border: 0px;">
                                    <option [value]=true>Paid</option>
                                    <option [value]=false>Unpaid</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Report Result</div>
                        <div class="value">
                            <div class="input-border-under-class ">
                                <textarea [value]="investigationformat" formControlName="reportText" type="" name="email"></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="name">Report Image</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">
                                <input (change)="onselectfile($event)" multiple class="input--style-5" type="file"
                                    name="company">
                            </div>
                        </div>
                    </div>

                    <div>
                        <button type="submit" value="Save" class="btn btn--radius-2 btn--blue">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- class="border-class" -->

<div id="successfull-next-popup">
    <a id="successfull-next-popup-close">&times;</a>

    <!-- <div id="sucessfull-message">
        Investigation has been seccessfully save.If you want to send this information to patient through email click
        next otherwise click cancle.
    </div> -->


    <div id="patint-table">

        <div id="patient-title">
            <div style="display: inline; border-bottom: 2px solid black;"> Patient Inforamtion </div>
        </div>
        <table>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align: left;" colspan="2">Date:  {{curDate | date:'EEE, MMMM dd,yyyy'}}</td>
            </tr>
            <tr>
                <td>Patient's Name</td>
                <td>{{ptientName}}</td>
                <td>Sex: {{sex}}</td>
                <td>Age: {{age}}</td>
            </tr>
            <tr>
                <td>Sample</td>
                <td colspan="3">{{sample}}</td>
            </tr>
        </table>
    </div>


    <div id="report-table-container">
        <div id="report-title">
            <div style="display: inline; border-bottom: 2px solid black;"> Report </div>
        </div>
        <table>
            <tr>
                <th>Test Name</th>
                <th>Result</th>
                <th>Reference Value</th>
            </tr>
            <tr>
                <td>{{investigationName}}</td>
                <td>{{reportResult}}</td>
                <td>{{referenceValue}}</td>
            </tr>
        </table>
    </div>

    <div *ngIf="reportImageIsSelected" id="report-image-container">

        <div id="report-image-text">
            <div style="display: inline; border-bottom: 2px solid black;"> Report Image </div>
        </div>
        <div style="width: 100%; text-align: center;">
            <img [src]="imageUrl">
        </div>

    </div>

    <div style="position: relative;"  id="button-container">
        <button *ngIf="this.gamilValue != null && this.gamilValue != '' " (click)="pdfSend()" style="margin-left: 0; margin-right: 10px;" class="btn btn--radius-2 btn--blue">
            <img style="width: 15px; height: 15px; position: absolute; bottom: 38px; left: 9px;" src="../assets/image/gmail-logo.jpg">
            Email
        </button>
        <button (click)="close()" class="btn btn--radius-2 btn--blue"> Finish </button>
    </div>

</div>


<div id="gmail-popup">
    <a id="gmail-popup-close">&times;</a>

    <div id="sucessfull-message">

        <div class="form-row">
            <div class="name" style="font-size: 15px; width: 100px;">Enter gmail</div>
            <div class="" style="width:80%; margin-left: 0px; padding-left: 0px; background-color: red;">
                <div style="width: 100%;" class="input-group input-border-under-class">
                    <input style="width: 100%;" [(ngModel)]="gamilValue" class="input--style-5" type="text"
                        name="company">
                </div>
            </div>
        </div>

    </div>

    <div id="button-container">
        <button (click)="pdfSend()" style="margin: 0;" class="btn btn--radius-2 btn--blue"> Send </button>
    </div>

</div>



<!-- Popup message  -->
<div class="popup center border-class">
    <div class="icon">
        <i class="fa fa-check"></i>
    </div>
    <div class="title">
        Successfully save
    </div>
    <div class="description">

    </div>
    <div class="dismiss-btn">
        <button id="dismiss-popup-btn">
            Dismiss
        </button>
    </div>
</div>
