
<div id="gmail-popup" class="border-class">
    <a id="gmail-popup-close">&times;</a>

    <div id="sucessfull-message">
        <div class="form-row">
            <div class="name" style="font-size: 15px; width: 100px;">Mobile</div>

            <div class="value" >
                <div class="input-group input-border-under-class">
                    <input [(ngModel)]="phoneNumber" class="input--style-5" type="text" >
                </div>
            </div>


        </div>
    </div>

    <div id="button-container">
        <button (click)="sendMobileNumber()" style="margin: 0;" class="btn btn--radius-2 btn--blue"> Verify </button>
    </div>

</div>



<div *ngIf="showTable" id="investigation-content-container">

    <!-- <button (click)="findReport()" class="btn btn--radius-2 btn--blue position">Find Report</button>  -->

    <h3 class="Select"> Your Investigation Report</h3>

    <div id="tableContainer">
        <table>
            <tr>
                <th>Name</th>
                <th>Investigations Name</th>
                <th>Cost</th>
                <th>Report Create Date</th>
                <th>Report</th>
            </tr>
            <tr *ngFor="let variable of userReportList; let i = index ">
                <td>{{variable.patientName}}</td>               
                <td>{{variable.investigationName}}</td>
                <td>{{variable.rate}}</td>
                <td>{{variable.reportDate}}</td>
                <td><button (click)="downloadPdf(variable.investigationRequestID, i)" class="btn-download btn--radius-2 btn--blue">Download</button></td>
            </tr>
        </table>
    </div>

    <!-- <div id="nextbutton">
        <button (click)="nextPage()" class="btn btn-primary">
            Next</button>
    </div> -->

</div>



<!-- Pop up message -->

<div class="popup center border-class">
    <div class="icon">
        <i class="fa fas fa-exclamation-triangle"></i>
    </div>
    <div class="title">
        To download report please first make payment.
    </div>
    <div class="description">
    </div>
    <div class="dismiss-btn">
        <button id="dismiss-popup-btn">
            Dismiss
        </button>
    </div>
</div>
