.form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.form-row .name {
  width: 180px;
  color: #555;
  font-size: 12px;
  font-weight: 700;
}

.form-row .value {
  width: -webkit-calc(100% - 180px);
  width: -moz-calc(100% - 180px);
  width: calc(100% - 120px);
}

.input--style-5 {
  background: white;
  line-height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 22px;
  font-size: 12px;
  color: #555;
}

.input-group-desc {
  position: relative;
}

.btn {
  display: inline-block;
  line-height: 30px;
  padding: 0 30px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  font-family: inherit;
  margin-bottom: 190px;
  margin-top: 20px;
}

.btn--radius-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn--blue {
  background: #4272d7;
}

.btn--blue:hover {
  background: #3868cd;
}

.input-group {
  position: relative;
  margin: 0;
}

#successfull-next-popup, #gmail-popup {
  height: 180px;
  width: 600px;
  background-color: white;
  z-index: 2;
  margin-bottom: 30px;
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%);
  overflow: hidden;
  transition: 0.5s;
  box-sizing: content-box;
}

#successfull-next-popup-close, #gmail-popup-close {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  position: absolute;
  top: -18px;
  right: 6px;
  font-size: 36px;
  margin-left: 50px;
}

#successfull-next-popup-close:hover, #gmail-popup-close:hover {
  color: black;
  cursor: pointer;
}

#sucessfull-message, #button-container {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  margin: 50px 40px 0px 40px;
}

#button-container {
  position: absolute;
  right: 10px;
  margin: 20px 40px 0px 40px;
}

#heading {
  text-align: center;
  font-family: Verdana;
  margin-top: 30px;
}

.Select {
  position: relative;
  left: 7%;
  margin-top: 90px;
  border-bottom: 2px solid black;
  text-underline-position: 10px;
  display: inline-block;
  font-family: 'Metropolis-Regular', "Segoe UI", Helvetica Neue, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.2;
}

.position {
  position: absolute;
  right: 40px;
  top: 0px;
}

#tableContainer tr th {
  font-size: 13px;
  font-family: SimSun;
  color: black;
}

#tableContainer tr td {
  font-size: 12px;
}

#investigation-content-container {
  width: 100%;
  height: 700px;
  /* background-image: url(/assets/image/background.png); */
  position: relative;
  z-index: 0;
}

#investigationTitle {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  width: 90%;
  margin: auto;
}

#tableContainer {
  width: 86%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

table {
  width: 100%;
  color: #4d4d4d;
  font-family: Serif;
}

#tableContainer table tr th, td {
  border-bottom: 1px solid #d9d9d9;
  padding: 10px;
}

#tableContainer table tr th {
  border-bottom: 2px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding: 8px;
}

th:last-child, td:last-child, th:nth-last-child(2), td:nth-last-child(2) {
  text-align: right;
}

th:nth-last-child(3), td:nth-last-child(3) {
  text-align: left;
}

.btn-primary {
  width: 100px;
  font-size: 15px;
  line-height: 30px;
  padding: 0px 30px;
}

#nextbutton {
  left: 7%;
  position: relative;
  top: 0%;
  width: 100px;
}

/* Popup message */

body {
  background: #ddd;
  font-family: "Raleway";
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  width: 350px;
  height: 280px;
  padding: 30px 20px;
  background: #f5f5f5;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  opacity: 0;
  top: -200%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.popup.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup .icon {
  margin: 5px 0px;
  width: 50px;
  height: 50px;
  border: 2px solid #34f234;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
}

.popup .icon i.fa {
  font-size: 30px;
  color: #34f234;
}

.popup .title {
  margin: 5px 0px;
  font-size: 20px;
  font-weight: 600;
}

.popup .description {
  color: #222;
  font-size: 15px;
  padding: 5px;
}

.popup .dismiss-btn {
  margin-top: 15px;
}

.popup .dismiss-btn button {
  padding: 6px 23px;
  background: #111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.popup .dismiss-btn button:hover {
  color: #111;
  background: #f5f5f5;
}

.popup>div {
  position: relative;
  top: 10px;
  opacity: 0;
}

.popup.active>div {
  top: 0px;
  opacity: 1;
}

.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}

.popup.active .title {
  transition: all 300ms ease-in-out 300ms;
}

.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}

.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}