<h3 class="titleheading">Add New Investigation</h3>

<div class="page-wrapper p-b-50">
    <div class="wrapper wrapper--w700">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Give information</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="investigationForm" (ngSubmit)="investigationFormSubmit(investigationForm.value)">


                    <div class="form-row">

                        <div class="name">Investigation Name</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">
                                <input [ngClass]="{'borderRed' : investigationForm.get('name').errors &&
                        (investigationForm.get('name').touched || investigationForm.get('name').dirty)}"
                                    formControlName="name" class="input--style-5" type="text" name="company">
                            </div>
                            <span 
                                *ngIf="investigationForm.get('name').errors &&
                                        (investigationForm.get('name').touched || investigationForm.get('name').dirty)">
                                <span *ngIf="investigationForm.get('name').errors.required">Investigation name is required</span>
                            </span>
                        </div>

                    </div>
                    <!-- <div  class="form-row">
                        <div  class="name">Investigation Name</div>
                        <div class="value">
                            <div  class="input-group input-border-under-class">
                                <input formControlName="name" class="input--style-5" type="text" name="company">
                            </div>
                        </div>
                    </div> -->

                    <div class="form-row">
                        <div class="name">Rate</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">
                                <input [ngClass]="{'borderRed' : investigationForm.get('rate').errors &&
                        (investigationForm.get('rate').touched || investigationForm.get('rate').dirty)}"
                                    formControlName="rate" class="input--style-5" type="text" name="company">
                            </div>
                            <span 
                                *ngIf="investigationForm.get('rate').errors &&
                                (investigationForm.get('rate').touched || investigationForm.get('rate').dirty)">
                                <span *ngIf="investigationForm.get('rate').errors.required">Rate is required</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Format</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">
                                <textarea [ngClass]="{'borderRed' : investigationForm.get('format').errors &&
                        (investigationForm.get('format').touched || investigationForm.get('format').dirty)}"
                                    formControlName="format" class="input--style-5" type="text"
                                    name="company"></textarea>
                            </div>
                            <span
                                *ngIf="investigationForm.get('format').errors &&
                                (investigationForm.get('format').touched || investigationForm.get('format').dirty)">
                                <span *ngIf="investigationForm.get('format').errors.required">Format is required</span>
                            </span>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="name">Reference Value</div>
                        <div class="value">
                            <div class="input-border-under-class input-group">
                                <textarea [ngClass]="{'borderRed' : investigationForm.get('refValue').errors &&
                        (investigationForm.get('refValue').touched || investigationForm.get('refValue').dirty)}"
                                    formControlName="refValue" class="input--style-5" type="email"
                                    name="email"></textarea>
                            </div>
                            <span 
                                *ngIf="investigationForm.get('refValue').errors &&
                                (investigationForm.get('refValue').touched || investigationForm.get('refValue').dirty)">
                                <span *ngIf="investigationForm.get('refValue').errors.required">Reference Value is required</span>
                            </span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Categiory Name</div>
                        <div class="value">
                            <div class="input-group input-border-under-class">

                                <select formControlName="category"
                                    class="input-border-under-class input--style-5 selectSample" [ngClass]="{'borderRed' : investigationForm.get('category').errors &&
                        (investigationForm.get('category').touched || investigationForm.get('category').dirty)}">
                                    <option *ngFor="let data of categoryArray" [value]='data.id'>{{data.name}}</option>
                                </select>
                            </div>
                            <span 
                                *ngIf="investigationForm.get('category').errors &&
                                    (investigationForm.get('category').touched || investigationForm.get('category').dirty)">
                                <span *ngIf="investigationForm.get('category').errors.required">Select sample category  </span>
                            </span>
                        </div>

                    </div>

                    <div>
                        <button type="submit" value="Next" class="btn btn--radius-2 btn--blue">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- [disabled]="!investigationForm.valid" 
     [ngClass]="{'has_error' : investigationForm.get('name').errors &&
                        (investigationForm.get('name').touched || investigationForm.get('name').dirty)}"
                    
                    
-->




<!-- Pop up message -->

<div class="popup center border-class">
    <div class="icon">
        <i class="fa fa-check"></i>
    </div>
    <div class="title-pop-up">
        Successfully save
    </div>
    <div class="description">
    </div>
    <div class="dismiss-btn">
        <button id="dismiss-popup-btn">
            Dismiss
        </button>
    </div>
</div>
<!-- <div class="center">
    <button id="open-popup-btn">
        Open Popup
    </button>
</div> -->