/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
.border-under-class {
  /* border: 1px solid #cce0f5 ; */
  box-shadow: 0 -.2rem .5rem rgb(214, 214, 240), 0 .05rem .05rem rgba(214, 214, 240), 0 .1rem .1rem rgba(214, 214, 240), 0 .15rem .15rem rgba(214, 214, 240), 0 .2rem .2rem rgba(214, 214, 240), 0 .25rem .25rem rgba(214, 214, 240);
}

.input-border-under-class {
  /* border: 1px solid #cce0f5 ; */
  background-color: white;
  box-shadow: 0 -.1rem .3rem rgb(214, 214, 240), 0 .01rem .03rem rgba(214, 214, 240), 0 .1rem .1rem rgba(214, 214, 240), 0 .09rem .09rem rgba(214, 214, 240), 0 .1rem .1rem rgba(214, 214, 240), 0 .1rem .1rem rgba(214, 214, 240);
}

.border-class {
  border: 1px solid #cce0f5;
  box-shadow: 0 -.2rem .5rem rgb(214, 214, 240), 0 .05rem .05rem rgba(214, 214, 240), 0 .1rem .1rem rgba(214, 214, 240), 0 .15rem .15rem rgba(214, 214, 240), 0 .2rem .2rem rgba(214, 214, 240), 0 .25rem .25rem rgba(214, 214, 240);
  /* box-shadow: 2px 2px 2px 2px gray; */
}

.border-class:hover {
  border: 1px solid rgb(158, 158, 230);
}

/* <!-- Pop up message --> */

body {
  background: #ddd;
  font-family: "Raleway";
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  width: 350px;
  height: 220px;
  padding: 30px 20px;
  padding-top: 50px;
  background: #f5f5f5;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 20;
  text-align: center;
  opacity: 0;
  top: -200%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.popup.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup .icon {
  margin: -10px 0px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid #34f234;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 60px;
}

.popup .icon i.fa {
  font-size: 30px;
  color: #34f234;
}

.popup .title-pop-up {
  margin: 0px 0px;
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.popup .description {
  color: #222;
  font-size: 15px;
  padding: 5px;
}

.popup .dismiss-btn {
  margin-top: 15px;
}

.popup .dismiss-btn button {
  padding: 6px 23px;
  background: #111;
  color: #f5f5f5;
  border: 2px solid #111;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.popup .dismiss-btn button:hover {
  color: #111;
  background: #f5f5f5;
}

.popup>div {
  position: relative;
  top: 10px;
  opacity: 0;
}

.popup.active>div {
  top: 0px;
  opacity: 1;
}

.popup.active .icon {
  transition: all 300ms ease-in-out 250ms;
}

.popup.active .title-pop-up {
  transition: all 300ms ease-in-out 300ms;
}

.popup.active .description {
  transition: all 300ms ease-in-out 350ms;
}

.popup.active .dismiss-btn {
  transition: all 300ms ease-in-out 400ms;
}

.redColor {
  color: red;
  font-size: 30px;
}

.blueColor {
  color: blue;
}